
*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcbkptlist

*.xcscheme

Ring.xcodeproj/xcuserdata/sky.xcuserdatad/xcschemes/xcschememanagement.plist

iOS/catRing/catRing.xcodeproj/xcuserdata/sky.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcsettings
iOS/catRing/catRing/3rd/FilterEngine.framework/CHANGES.TXT
iOS/catRing/catRing/3rd/FilterEngine.framework/FilterEngine
iOS/catRing/catRing/3rd/FilterEngine.framework/Info.plist
iOS/catRing/catRing/3rd/FilterEngine.framework/README.TXT
iOS/catRing/catRing/3rd/FilterEngine.framework/_CodeSignature/CodeDirectory
iOS/catRing/catRing/3rd/FilterEngine.framework/_CodeSignature/CodeRequirements
iOS/catRing/catRing/3rd/FilterEngine.framework/_CodeSignature/CodeResources
iOS/catRing/catRing/3rd/FilterEngine.framework/_CodeSignature/CodeSignature
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/AutoFaceDefine.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/AutoFaceHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/AxialTransfer.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ColorAdjustHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/config.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/CosmeticsHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/CPUImageFilter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/CPUImageOutput.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/CPUTransform2dFilter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/CryptoManager.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/FaceDetector.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/FilterEngine.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/FilterEnum.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/FilterFactory.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/glow_filter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GLProgram.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImageFilter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImageOpenGLESContext.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImageOutput.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImagePicture.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImageRotationFilter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/GPUImageView.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ImageDefine.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ImageProvider.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ImageSelectorHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/LensFlareHandler.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/LSS.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/MagicPenHandler.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ManualFaceHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ManualFaceLongLegHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ManualLongLegHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/MFFDShader.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/MRFaceHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/OriginalImageFilterWrapper.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/PaintEffectHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/PortraitSketchHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/ResourceManager.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/StrokeView.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/StrokeView2Brush.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/SwapFaceHandle.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/type_common.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/UIImage+Image.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/UIImageOrientationFilter.h
iOS/catRing/catRing/3rd/FilterEngine.framework/Headers/UIImageUtils.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Info.plist
iOS/catRing/catRing/3rd/youtubeauty.framework/youtubeauty
iOS/catRing/catRing/3rd/youtubeauty.framework/en.lproj/InfoPlist.strings
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/cvdetectface.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/cvrecattribute.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/cvsmartcrop.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/facealignment_export.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/faceattribute_export.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/facefeature.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/smartcrop_export.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/TC_FaceAlignment.h
iOS/catRing/catRing/3rd/youtubeauty.framework/Headers/YoutuBeautyManager.h
