
*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcbkptlist

*.xcscheme

Ring.xcodeproj/xcuserdata/sky.xcuserdatad/xcschemes/xcschememanagement.plist

iOS/catRing/catRing.xcodeproj/xcuserdata/sky.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcsettings
